<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<header class= "jumbotron site-header">
  <div class ="container text-center">
    <h1>My Rails Blog</h1>
  </div>
</header>

<div class="container">
 <%= yield %>
</div>

</body>
</html>
